body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #e0f2f1;
    padding: 20px;
    text-align: center;
}

header img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

h1, h2 {
    color: #00796b;
}

#informacion, #productos, #ofertas {
    padding: 20px;
    margin: 20px;
}

.producto, .offer {
    background-color: #ffffff;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #00796b;
    color: white;
    text-align: center;
    padding: 10px;
}
